$lightWhite: #f6f6ee;
$darkBlue: #252d98;
$medDarkBlue: #4e5fba;
$lightDarkBlue: #7791dc;
$lightBlue: #a0c3ff;

html,
body {
  margin: 0;
  padding: 0;
}
.kurrentTitle {
  font-size: 3.5rem;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightWhite;
  font-weight: 400;
  margin: 5%;
  text-shadow: 1px 1px 2px black, 0 0 1em $lightDarkBlue, 0 0 0.1em black;
}
.loginPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.signUpTitle {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightWhite;
  font-weight: 400;
  margin: 5%;
  text-shadow: 1px 1px 2px black, 0 0 1em $lightDarkBlue, 0 0 0.1em black;
}
.login-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
  // background-color: lighten($darkBlue, 20);
  border-radius: 36px;
  width: 20%;
  height: 35%;
}
.signUp-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 17%;
  // background-color: lighten($darkBlue, 20);
  border-radius: 36px;
  width: 20%;
  height: 42%;
}
.password,
.username {
  margin-bottom: 4%;
  margin-top: 0.5%;
  border-radius: 24px;
  height: 1.5rem;
  padding-left: 3%;
  border: none;
  box-shadow: 1px 1px 5px black;
  min-width: 50%;
}
.username:hover {
  box-shadow: 1px 2px 8px black;
}
.password:hover {
  box-shadow: 1px 2px 8px black;
}

#signup:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
}
#signup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}
#routeLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
#routeLogin:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
}
#login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 50%;
  height: 2rem;
  margin-bottom: 5%;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 5px black;
}
#login:hover {
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
}
#login:disabled {
  background-color: rgba(255, 255, 255, 0.229);
  box-shadow: none;
  cursor: default;
}
#login:disabled:active {
  background-color: rgba(255, 255, 255, 0.229);
  box-shadow: none;
  cursor: default;
}
#login:active {
  box-shadow: inset 1px 1px 5px black;
}
#signUpForm {
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.submit-form {
  display: block;
  justify-content: center;
  text-align: center;
}
