//LOGIN PAGE CSS -> MAKE SURE ALL ELEMENTS ARE UNIQUELY CLASSIFIED

//Initiallizing several color variables
$lightWhite: #f6f6ee;
$darkBlue: #252d98;
$medDarkBlue: #4e5fba;
$lightDarkBlue: #7791dc;
$lightBlue: #a0c3ff;

//Removing margin and padding on the html and body elements
html,
body {
  margin: 0;
  padding: 0;
}
//Container for landing page
.loginPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/Otterswim.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
//Additional landing page styling for the gradient effect
.loginPageContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background: linear-gradient(#6b7ba478, #40568b);
  border-radius: inherit;
}
//Sign Up title on sign up page
.signUpTitle {
  font-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightWhite;
  font-weight: 400;
  margin: 5%;
  text-shadow: 1px 1px 2px black, 0 0 1em $lightDarkBlue, 0 0 0.1em black;
}
//Container for login elements
.login-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
  // background-color: lighten($darkBlue, 20);
  border-radius: 36px;
  width: 20%;
  height: 35%;
  animation: fadeIn 2s ease forwards;
  position: absolute;
  top: 8%;
}
//Container for sign up elements
.signUp-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 17%;
  // background-color: lighten($darkBlue, 20);
  border-radius: 36px;
  width: 20%;
  height: 42%;
  animation: fadeIn 1s ease forwards;
}
//Password and username input form elements and hover effects
.password,
.username {
  margin-bottom: 4%;
  margin-top: 0.5%;
  border-radius: 24px;
  height: 1.5rem;
  padding-left: 3%;
  border: none;
  box-shadow: 1px 1px 5px black;
  min-width: 50%;
}
.username:hover {
  box-shadow: 1px 2px 8px black;
}
.password:hover {
  box-shadow: 1px 2px 8px black;
}
//Signup and back to login a-tag styling
#signup:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
}
#signup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}
#routeLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
#routeLogin:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
}
//Login button styling
#login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 50%;
  height: 2rem;
  margin-bottom: 5%;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 5px black;
}
#login:hover {
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
}
#login:disabled {
  background-color: rgba(255, 255, 255, 0.229);
  box-shadow: none;
  cursor: default;
}
#login:disabled:active {
  background-color: rgba(255, 255, 255, 0.229);
  box-shadow: none;
  cursor: default;
}
#login:active {
  box-shadow: inset 1px 1px 5px black;
}
//Sign Up page form styling
#signUpForm {
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.submit-form {
  display: block;
  justify-content: center;
  text-align: center;
}
//p-tag styling when password or email mismatch
.inputInvalid {
  margin: 0;
  font-size: 70%;
  margin-bottom: 2%;
  color: rgb(135, 0, 0);
}
//Email input input styling
#email {
  margin-bottom: 4%;
}
//Landing page nav bar styling
#loginNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
  animation: fadeIn 1s ease forwards;
}
//a-tag container in navbar
.loginNavRef {
  background-color: white;
  width: 30%;
  min-width: 25%;
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 50px 50px;
  box-shadow: 1px 1px 2px black;
}
//Team section title
.teamHeader {
  font-size: 4rem;
  text-shadow: 1px 1px 1px black, 0 0 2px;
  font-weight: 700;
  color: $lightWhite;
}
//Team container
#team {
  min-height: 100vh;
  justify-content: center;
  background: linear-gradient(#546c94, #40568b);
}
//Span used for team header h1
.loginSpan {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
//Container for team section
.teamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vh 0;
}
//Each member has a member card, change the stylizing here when more members are added so the display is responsive
.memberCard {
  margin: 1%;
  width: 18rem;
  height: 18rem;
  // background-color: #e1e1e231;
  background: linear-gradient(#e1e1e231, #40568b);
  box-shadow: 1px 2px 4px black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
//If you would like to add images for each team member, the stylizing is ready to go.
//You would need to add an img tag inside of the memberCard div
.memberImage {
  width: 100%;
  height: auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
//All info for each member; Name, LinkedIn url, and Github url
.memberInfo {
  text-align: center;
  padding: 10px;
}
//Team member name styling
.memberName {
  font-size: 2.4rem;
  margin-bottom: 30%;
}
//github and linkedin contact styling
.socials {
  display: inline;
  margin: 10px 10px;
  text-decoration: none;
  text-align: center;
  fill: $lightWhite;
}
//About section container
#about {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(#40568b, #546c94);
}
//Title styling inside the about section
.aboutTitle {
  padding-top: 3%;
  font-size: 4rem;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightWhite;
  font-weight: 400;
  text-shadow: 1px 1px 2px black, 0 0 1em $lightDarkBlue, 0 0 0.1em black;
  margin-bottom: 1%;
  font-weight: 200;
}
//Span for gif+text demos of the application
.demoSpan {
  display: inline-flex;
  width: 100%;
}

.aboutText {
  width: 40vw;
  margin: 1%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.aboutImg {
  width: 60vw;
  margin: 1%;
}
//a-tag styling for the navbar
.navTag {
  padding: 0.2% 0.5% 0.2% 0.5%;
  text-decoration: none;
  color: black;
}
.navTag:hover {
  text-decoration: underline;
}
//Kurrent logo styling on landing page
#titlePage {
  color: $lightWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin: 0;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 1%;
}
//Demo gif styling
#metricsGif {
  height: auto;
  width: 80%;
}
//LinkedIn and Github styling
svg {
  height: 50px;
  width: 50px;
}
svg:hover {
  height: 52px;
  width: 52px;
}
svg:active {
  height: 49px;
  width: 49px;
}
//Github url in the ABOUT section
#Github {
  color: $lightWhite;
  font-size: 2rem;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
#Github:hover {
  animation: shadowFade 100ms ease forwards;
}
.link-container {
  display: flex;
  justify-content: center;
  margin: 2%;
}
//about section text styling
h4 {
  color: $lightWhite;
  font-size: large;
  font-weight: 400;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  padding: 1%;
  margin: 1%;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}
.aboutPTag {
  color: $lightWhite;
  font-size: large;
  font-weight: 100;
}
#title {
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  font-size: 20vw;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#6b7ba478, rgba(0, 0, 0, 1));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: moveDownText 1s ease forwards;
  text-shadow: 1px 1px 1px rgb(255, 255, 255), 1px 1px 0.05em rgba(0, 0, 0, 0.9);
  height: 20%;
}

@keyframes moveDownText {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shadowFade {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 1px 1px 10px black;
  }
}
@media screen and (max-width: 800px) {
  #loginNav {
    width: 100%;
  }
  .loginNavRef {
    width: 90vw;
  }
  .aboutTitle {
    padding-top: 10%;
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 2%;
  }
  #Github {
    margin-bottom: 2%;
  }
  .demoSpan {
    display: flex;
  }
  .teamHeader {
    padding-top: 10%;
  }
}

//About summary text
.aboutSum {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style: inside;
  margin: 0;
}
li {
  color: $lightWhite;
  margin: 1%;
  font-weight: 100;
  text-wrap: wrap;
}
.topLi {
  margin-top: 0;
}
.metricSpan {
  width: 100%;
}
hr {
  margin: auto;
  width: 95%;
  margin-top: 1%;
}
