//Custom Colors:
$lightWhite: #f6f6ee;
$darkBlue: #252d98;
$medDarkBlue: #4e5fba;
$lightDarkBlue: #7791dc;
$lightBlue: #a0c3ff;

html {
  background-color: lighten($darkBlue, 10%);
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid black;
  margin-bottom: 1%;
  align-items: center;
  width: 99%;
  font-size: 2.5rem;
  padding-bottom: 0.3%;
  padding-left: 0.3%;
  padding-right: 0.3%;
  padding-top: 0.3%;
  background-color: $darkBlue;
}

.user-info {
  grid-area: menu;
}
.cluster-nav {
  grid-area: header;
}
.metricsCont {
  grid-area: main;
}

.main-grid {
  display: grid;
  grid-template-areas:
    'menu header'
    'menu main';
  gap: 5px;
  padding: 0;
  background-color: lighten($darkBlue, 10%);
  max-width: 100%;
  height: 97%;
}

.main-grid {
  div {
    background-color: $medDarkBlue;
    text-align: center;
    font-size: 40px;
    border-radius: 24px;
  }
}
#clusterButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

#clusterButtons {
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 5px;
  color: #252d98;
  background-color: #f6f6ee;
  box-shadow: 1px 1px 5px #252d98;
  border-radius: 24px;
  border-color: #f6f6ee;
  border: none;
}
#clusterButtons:hover {
  box-shadow: 1px 1px 8px black;
  box-shadow: inset 1px 1px 5px black;
  border-color: #f6f6ee;
  border-width: 0;
  border: none;
}
.metrics {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  gap: 10px;
  width: 99%;
  height: 93%;
  justify-items: center;
  align-items: center;
}
.lineMetricBox {
  width: 99%;
  height: 99%;
}
.lineMetric {
  background-color: white;
  border-radius: 24px;
}
h3 {
  margin: 0;
  font-size: 2rem;
  height: 7%;
}
.kurrentTitle2 {
  color: $lightWhite;
  text-shadow: 1px 1px 1px black, 0 0 2px;
  font-weight: 400;
}
#signOut {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5%;
  background-color: $lightWhite;
  border-radius: 10px;
  border: none;
}
#signOut:hover {
  box-shadow: 1px 1px 8px black;
  box-shadow: inset 1px 1px 5px black;
  border-color: #f6f6ee;
  border-width: 0;
}
#clusterUserName {
  color: $lightWhite;
  text-shadow: 1px 1px 2px black, 0 0 1em $lightDarkBlue, 0 0 0.1em black;
  font-size: 1.4rem;
}
#addCluster {
  height: 6%;
  width: 75%;
  font-size: 1rem;
  margin: 5px;
  color: #252d98;
  background-color: #f6f6ee;
  box-shadow: 1px 1px 5px #252d98;
  border-radius: 24px;
  border-color: #f6f6ee;
  border: none;
}
#addCluster:hover {
  box-shadow: 1px 1px 8px black;
  box-shadow: inset 1px 1px 5px black;
  border-color: #f6f6ee;
  border-width: 0;
  border: none;
}
.port {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
}
label {
  margin-top: 5%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: $lightWhite;
  text-shadow: 1px 1px 2px black, 0 0 1em $lightDarkBlue, 0 0 0.1em black;
  font-size: 1.4rem;
  padding-left: 20%;
}
#add-port {
  height: 10%;
  width: 40%;
  font-size: 1.3rem;
  margin: 5px;
  color: #252d98;
  background-color: #f6f6ee;
  box-shadow: 1px 1px 5px #252d98;
  border-radius: 24px;
  border-color: #f6f6ee;
  border: none;
}
#cancel-port {
  height: 10%;
  width: 40%;
  font-size: 1.3rem;
  margin: 5px;
  color: #252d98;
  background-color: #f6f6ee;
  box-shadow: 1px 1px 5px #252d98;
  border-radius: 24px;
  border-color: #f6f6ee;
  border: none;
}
